.hero{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    &__container{
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hero__texts{
            width: 580px;
            height: 95%;
            .hero__title{
                margin-bottom: 20px;
                font-family: var(--Raleway);
                font-weight: 700;
                font-size: 40px;
            }

            .hero__description{
                margin-bottom: 20px;
                color: var(--VeryDarkBlue);
            }

            .form{
                display: flex;
                &__input{
                    width: 60%;
                    margin-right: 15px;
                }
            }
        }

        .hero__img{
            width: 650px;
            height: 95%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media(max-width: 475px){
    .hero{
        width: 100%;
        height: 700px;
        &__container{
            max-width: 620px;
            margin: auto;
            display: flex;
            flex-direction: column-reverse;
            .hero__texts{
                width: 100%;
                height: 380px;
                .hero__title{
                    font-size: 30px;
                    text-align: center;
                    margin: 10px;
                }

                .hero__description{
                    margin: 10px;
                    text-align: center;
                    font-size: 14px;
                }

                .form{
                    width: 95%;
                    height: 100px;
                    padding: 5px;
                    margin: 10px auto;
                    display: flex;
                    flex-direction: column;
                    &__input{
                        width: 100%;
                        margin-bottom: 15px;
                    }

                    .btn{
                        width: 100%;
                    }
                }
            }

            .hero__img{
                width: 100%;
                height: 360px;
                img{
                    display: inline-block;
                    margin: 0 auto;
                    width: 100%;
                    height: 90%;
                }
            }
        }
    }
}